{% block sidebar %}

<style>
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">About Me</h5>
        <div class="card-body">
            <p class="card-text"> This blog was made using the Django Framework. I'm an unemployed developer trying to make it big with stocks. Feel free to contact me for employment opportunities or any comments you want to make. Click the link below to explore the rest of my projects.</p>
            <a href="http://cherrygang.github.io/Gary-Chang-Portfolio"
               class="btn btn-danger">Portfolio</a>
        </div>
    </div>
</div>

{% endblock sidebar %}